.pio
esp32-client/TCPClient/.vscode/.browse.c_cpp.db*
esp32-client/TCPClient/.vscode/c_cpp_properties.json
esp32-client/TCPClient/.vscode/launch.json
esp32-client/TCPClient/.vscode/ipch
esp32-client/TCPClient/include/config.h
server/build/*